<html>
<head></head>
<body>

<th:block th:fragment="chapters">

    <div th:each="chapter : ${law.getChapters(0)}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label" th:text="'Capítulo '+${chapter.title}"></label>
                </div>

            </div>
        </div>

        <div class="articleGroup" th:each="article : ${chapter.articles}">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label articleNumberText" th:text="'Articulo '+${article.title}"></label>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default pull-right" onclick="editArticle($(this).parents('.articleGroup'));">
                            <i class="fa fa-edit"></i>
                        </button>

                        <button type="button" class="btn btn-danger removeButton pull-right" onclick="deleteArticle($(this).parents('.articleGroup'));">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <textarea th:text="${article.content}" class="form-control" rows="3"></textarea>
            </div>
        </div>

    </div>

</th:block>

</body>
</html>